<% provide(:title,  "Seasons") %>

<h1>Seasons </h1>

<p>Year: 
<% @years.each do | year | %>
    <%= link_to "#{year}", season_index_url(year: "#{year}"), { :class=>"btn btn-primary" } %>
<% end %>
</p>

<h3>AAA</h3>
<% @season_list['AAA'].each do | season | %>
    <div class="row">
        <% season.each do | idv | %>
            <div class="col-md-4 well">
                <h4><%= link_to "#{idv.age_group} #{idv.skill_level} #{idv.year}-#{idv.year+1}" , season_path(idv) %> </h4>
                <% @season_top_teams[idv.id].each_with_index do | team, index | %>
                    <p ><%= link_to "#{index+1}. #{team.team_name} #{team.elo}", team_path(team), :class=>"team-list" %></p>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>

<h3>AA</h3>
<% @season_list['AA'].each do | season | %>
    <div class="row">
        <% season.each do | idv | %>
            <div class="col-md-4 well">
                <h4><%= link_to "#{idv.age_group} #{idv.skill_level} #{idv.year}-#{idv.year+1}" , season_path(idv) %> </h4>
                <% @season_top_teams[idv.id].each_with_index do | team, index | %>
                    <p><%= link_to "#{index+1}. #{team.team_name} #{team.elo}", team_path(team), :class=>"team-list" %></p>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>
