<header class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
    <div class="navbar-header">
        <%= link_to "HOCKEY RANKING HUB", root_path, id:'logo'  %>
    </div>
    <nav >
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Seasons", season_index_path %></li>
            <li><%= link_to "Leagues", league_index_path %></li>
        </ul>
    </nav>
    </div>
</header>